body {
    height: 100vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;

    h1,
    .h1 {
        font-size: 1.6rem;
    }

    h2,
    .h2 {
        font-size: 1.4rem;
    }

    h3,
    .h3 {
        font-size: 1.2rem;
    }

    h4,
    .h4 {
        font-size: 1.1rem;
    }

    h5,
    .h5 {
        font-size: 1rem;
    }
}

.header {
    height: $header-height;

    .left {
        .logo {
            font-size: 1.2rem;
        }
    }

    .btn-menu-toggler {
        background-color: transparent;
        font-size: 2rem;
        border: 0;
    }
}

.wrapp {
    min-height: calc(100vh - $header-height);
    overflow-y: auto;

    .sidebar {
        background-color: $light;
        width: 100%;
        max-width: $sidebar-sm-width;
        min-height: calc(100vh - ($header-height * 2));

        .nav {
            .nav-link {
                display: flex;
                align-items: center;
                font-size: 1rem;
                margin-bottom: 2px;

                .icon {
                    font-size: 1.5rem;
                    line-height: 0;
                    margin-right: $spacer / 2.5;
                }

                &.active {
                    color: $dark;
                }
            }

            .subnav {
                .nav-link {
                    font-size: 1rem;
                }
            }
        }
    }

    .main {}
}
